# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
ENV/

# Packaging / build
build/
dist/
*.egg-info/
*.egg

# Tools/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# Logs
*.log

# Local data (privacy)
data/
导入账单/
导入图片/
软件界面/
